/* src/styles.css */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
}

.loading-indicator {
    margin-top: 20px;
}

.word-suggestion {
    font-size: 24px;
    margin: 20px 0;
}

.error {
    color: red;
    margin: 10px 0;
}

.success {
    color: green;
    font-size: 24px;
    margin: 20px 0;
}
